@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                        </div>
                        <!-- Experience Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2023-Present</div>
                                            <div class="fw-bolder">Web Developer</div>
                                            <div class="small text-muted">SIU</div>
                                            <div class="font-16 text-muted font-16">Thảo Điền, Quận 2</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 text-justify"><div>Web Developer, hay còn gọi là lập trình Web, là những người xây dựng phần chức năng của website. Họ chính là người làm cho website của bạn vận hành được những tính năng cần thiết để phục vụ cho nhu cầu của người dùng.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Experience Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2022 - 2023</div>
                                            <div class="fw-bolder">Database, OOP</div>
                                            <div class="small text-muted">SIU</div>
                                            <div class="font-16 text-muted font-16">Thảo Điền, Quận 2</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 text-justify">
                                        <div>Database (Cơ sở dữ liệu) là một tập hợp có tổ chức của các thông tin, dữ liệu được lưu dưới dạng tệp tin và có thể truy cập bằng các hệ thống máy tính hoặc các hệ quản trị cơ sở dữ liệu.</div>
                                        <div>Lập trình hướng đối tượng (OOP) là một kỹ thuật lập trình cho phép lập trình viên tạo ra các đối tượng trong code trừu tượng hóa các đối tượng.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Experience Card 3-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2021 - 2022</div>
                                            <div class="fw-bolder">Data Structure & Algorithms</div>
                                            <div class="small text-muted">SIU</div>
                                            <div class="font-16 text-muted font-16">Thảo Điền, Quận 2</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 text-justify">
                                        <div>Cấu trúc dữ liệu là cách lưu trữ, tổ chức dữ liệu có thứ tự, có hệ thống để dữ liệu có thể được sử dụng một cách hiệu quả.</div>
                                        <div>Giải thuật Algorithms (hay còn gọi là thuật toán) là một tập hợp hữu hạn các chỉ thị để được thực thi theo một thứ tự nào đó để thu được kết quả mong muốn.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Education Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                        <!-- Education Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2021 - Present</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">SIU</div>
                                                <div class="small text-muted">Quận 2</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">Trường đại học</div>
                                                <div class="small text-muted">The SaiGon Internetional University</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 text-justify"><div>Trường Đại học Tư thục Quốc tế Sài Gòn là thành viên của Hội đồng kiểm định quốc tế các trường đại học đào tạo ngành Kinh doanh (IACBE) - Hoa Kỳ từ năm 2010 và Hiệp hội phát triển giảng dạy doanh thương bậc đại học (AACSB) - Hoa Kỳ từ năm 2011.</div></div>
                                </div>
                            </div>
                        </div>
                        <!-- Education Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2018 - 2021</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">Tam Phước</div>
                                                <div class="small text-muted">TP Biên Hòa</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">THPT</div>
                                                <div class="small text-muted">Tam Phước</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 text-justify"><div>Trường THPT Tam Phước là một trường trung học phổ thông tại Biên Hòa, Đồng Nai. Trường có một cộng đồng học sinh năng động và được biết đến với các hoạt động đoàn thể sôi nổi.</div></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline"> Skills</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Edit CapCut</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Design UX/UI</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Structure & Algorithms</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Android programming</div></div>
                                    </div>
                                </div>
                                <!-- Languages list-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL Server</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>